<index:>
	<div as="expandingArea" class="d-textarea {{@class2}}">
		<pre><span>{{@text}}</span><br></pre>
		<textarea id="{{@id}}" on-keydown="emitKeydown($event, $element)" as="input" disabled="{{@disabled}}" name="{{@name_}}" placeholder="{{@placeholder}}" class="{{@class}}">{{@text}}</textarea>
		<div id="wmd-button-bar">
			<ul id="wmd-button-row-buttons" class="wmd-button-row">
				{{if this.toolbar('b')}}
				<li class="wmd-button wmd-button-enabled" id="wmd-bold-button" data-cmd="bold" data-key="b" data-help="strong text"><span class="fa fa-bold"></span></li>
				{{/}}
				{{if this.toolbar('i')}}
				<li class="wmd-button wmd-button-enabled" id="wmd-italic-button" data-cmd="italic" data-key="i" data-help="italic text"><span class="fa fa-italic"></span></li>
				{{/}}
				{{if this.toolbar('l')}}
				<li class="wmd-button wmd-button-enabled" id="wmd-link-button" data-cmd="link" data-key="l" data-help="enter link description here"><span class="fa fa-link"></span></li>
				{{/}}
				{{if this.toolbar('q')}}
				<li class="wmd-button wmd-button-enabled" id="wmd-quote-button" data-cmd="quote" data-key="q" data-help="quote text..."><span class="fa fa-quote-right"></span></li>
				{{/}}
			</ul>
			<div id="wmd-button-row-link" class="wmd-button-row">
				<input type="text" value="" placeholder="{{t('Paste or type a link')}}"><i class="fa fa-times"></i>
			</div>
			<div id="wmd-button-row-image" class="wmd-button-row">
			</div>
		</div>
	</div>
