$bgcolor = #242424
$button_size = 50px
$border-radius = 40px

#wmd-button-bar
	position absolute
	visibility hidden
	top 0
	left 0
	z-index 10
	font-family HelveticaNeue, Helvetica, Arial, sans-serif
	font-size 13px
	border-radius $border-radius
	box-shadow 0 0 3px black
	list-style-type none
	color #fff
	background $bgcolor

	input
		display inline-block
		background transparent
		color #fff
		border none
		box-shadow none
		min-width 250px
		margin .25em 0
		padding .5em .6em
		outline none

	#wmd-button-row-link, #wmd-button-row-image
		margin 0 15px 0 10px

	#wmd-button-row-buttons, #wmd-button-row-link, #wmd-button-row-image
		display	none
		visibility hidden
		white-space nowrap

	&[data-show-on], &[data-show-on] #wmd-button-row-buttons, &[data-show-on]  #wmd-button-row-link, &[data-show-on]  #wmd-button-row-image
		visibility visible

	&[data-show]
		animation 0.2s toolbar

	&[data-show='buttons'] #wmd-button-row-buttons
		display block

	&[data-show='link'] #wmd-button-row-link
		display block

	&[data-show='image'] #wmd-button-row-image
		display block

	&:before
		border-width 9px

	&:after, &:before
		margin-left -12px
		position: absolute;
		bottom -40px
		left 50%
		right 100%
		width 0
		height 20px
		border-width 10px
		display block
		content " "
		border-color transparent
		border-style solid solid outset
		pointer-events none
		border-top-color $bgcolor
		
	.wmd-button-row
		padding 0
		margin 0
		white-space nowrap

		li:hover
			color #ff6
			background #000

		li:last-child
			border-right none
			border-radius 0 $border-radius $border-radius 0

		li:first-child
			border-left none
			border-radius $border-radius 0 0 $border-radius 

		li.wmd-button-hidden
			display none

		li
			background $bgcolor
			display inline-block
			list-style none
			width 40px
			height 40px
			line-height 40px
			text-align center
			cursor pointer
			border-right 1px solid #000
			border-left 1px solid rgba(255,255,255,0.1)


.d-textarea
	position relative
	& > textarea
		box-sizing border-box
		width 100%
		height 100px
	&.active
		& > textarea
			overflow hidden
			position absolute
			top 0
			left 0
			height 100%
			resize none
		& > pre
			display block
			visibility hidden
	& > pre
		display none

.d-textarea > textarea,
.d-textarea > pre
	white-space pre-wrap
	word-wrap break-word
	padding 7px
	font 400 14px/22px helvetica, arial, sans-serif
	min-height 100px

#selection-position
	position absolute
	visibility hidden

@keyframes toolbar
	0%
		opacity: 0; transform: translateY(20px) scale(0.6);
	100%
		opacity: 1; transform: translateY(0) scale(1);

